{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Gamershop</title>
</head>
<body>
    <div class="header-container">
        <div class="left-container">
            <div class="header-logo"> <p id="logo-gamershop">Gamershop</p></div>
            <div class="categories"><a href="Categorias.html">Categorías</a></div>
            <div class="registro"><a href="formulario.html">Registrarse</a></div>
            <div class="login"><a href="login.html"> Ingresar</a></div>
        </div>
        
        <div class="right-header">
            
            <div class="header-search"><input type="text"></div>
            <img id="logo-search" src="{% static 'images/icons8-search.svg' %}" alt="Icono de busqueda">
        </div>
    </div>
            
    <div class="hero-body-admin">
        <div class="hero-container">
            <h2> PANEL DE ADMINISTRACION</h2>
            <img src="{% static 'images/admin.jpeg' %}" alt="Soy admin">
        </div>
    </div>








    <div class="footer-container">
        <p class="footer-text">Todos los derechos reservados © Gamershop 2025 </p>
        <p class="footer-text"> <a href="terminos.html">Terminos y condiciones</a></p>
    </div>

    </div>