{% extends 'base.html' %}
{% load static %}

{% block title %}Registro de nuevo usuario - Gamershop{% endblock %}

{% block content %}
<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #e0e0e0;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        color: white;
        padding: 30px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 700px;
    }

    .card h2 {
        color: white;
        font-size: 28px;
        margin-bottom: 25px;
        text-align: center;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
        color: #ffffff;
        flex-basis: 35%;
        text-align: left;
        margin-right: 15px;
    }

    .form-group .form-control {
        flex-basis: 65%;
        border: 1px solid #ccc;
        padding: 12px;
        border-radius: 5px;
        text-align: left;
        font-size: 16px;
    }

    .btn-primary, .btn-secondary {
        background-color: #007bff;
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        color: white;
        border: 2px solid transparent;
        margin-top: 15px;
        font-size: 16px;
    }

    .btn-secondary {
        background-color: #6c757d;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-secondary:hover {
        background-color: #545b62;
    }

    .hero-body {
        background-image: url('{% static 'images/rege.png' %}');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 110px);
    }

    .card {
        margin-bottom: 20px;
        width: 100%;
        max-width: 700px;
        padding: 30px;
    }

    #registro-container h2 {
        font-size: 28px;
        margin-bottom: 25px;
        text-align: center;
    }

    .form-group label {
        font-size: 16px;
    }

    .footer-container {
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }
</style>
<div class="hero-body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div id="registro-container">
                        <h2>Registro de usuario</h2>
                        <form id="formulario" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="nombre-completo">Nombre completo:</label>
                                <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre-usuario">Nombre de usuario: </label>
                                <input type="text" name="username" class="form-control"  placeholder="Ingresa tu usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="contra">Contraseña:</label>
                                <input type="password" name="contra" class="form-control" placeholder="Ingresa tu contraseña de 6 caracteres" required>
                            </div>
                            <div class="form-group">
                                <label for="recontra">Reingrese su contraseña: </label>
                                <input type="password" name="recontra" class="form-control" placeholder="Confirma tu contraseña de 6 caracteres" required>
                            </div>
                            <div class="form-group">
                                <label for="correo">Correo electronico:</label>
                                <input type="email" name="email" class="form-control" placeholder="ejemplo@email.com" required>
                            </div>
                            <div class="form-group">
                                <label for="fecha-nacimiento">Fecha de nacimiento:</label>
                                <input type="date" name="fecha-nacimiento" class="form-control" max="2013-03-23" required>
                            </div>
                            <div class="form-group">
                                <label for="direccion">Direccion:</label>
                                <input type="text" name="direccion" class="form-control" placeholder="Calle #Número">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                            <button type="reset" class="btn btn-secondary btn-block">Limpiar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
