{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Gamershop{% endblock %}

{% block content %}
<section class="hero-carruseles">
    <div class="carousel-column">
        <h2>Nuevos lanzamientos</h2>
        <div class="carousel">
            <div class="carousel-track">
                <div class="carousel-item"><img src="https://gmedia.playstation.com/is/image/SIEPDC/horizon-forbidden-west-keyart-no-logo-01-en-9mar22?$native$" alt="orizon" /></div>
                <div class="carousel-item"><img src="https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-raganok-clean-keyart-01-en-10mar22?$native$" alt="GoW" /></div>
                <div class="carousel-item"><img src="https://i.blogs.es/48eb0f/240521-lanza-ps5-junio/1366_2000.jpeg" alt="RxC" /></div>
            </div>
        </div>
    </div>

    <div class="hero-center">
        <p id="title">Gamershop</p>
        <div class="search-bar"><input type="text" placeholder="Buscar Juego..."></div>
        <div><button id="search-btn">Buscar</button></div>
    </div>

    <div class="carousel-column">
        <h2>Juegos recomendados</h2>
        <div class="carousel">
            <div class="carousel-track">
                <div class="carousel-item"><img src="https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/2000950/capsule_616x353.jpg?t=1678294805" alt="Call of Duty" /></div>
                <div class="carousel-item"><img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000018710/89e1f45e5012962fcdbc47b297dbb99472d04fdae7c60213bce6fb44713d2068" alt="Ori" /></div>
                <div class="carousel-item"><img src="https://www.infobae.com/resizer/v2/CNTWUAMXZRF3BPIYPCNPFHOMJQ.jpg?auth=4dbb84a1e5b92e9729f0a8939402342e9e18fbffffa9084efcc57a11d40a7e5d&smart=true&width=1200&height=675&quality=85" alt="League of Legends" /></div>
            </div>
        </div>
    </div>
</section>

<div class="about-us">
    <h2>Sobre Nosotros</h2>
    <p>
        ¡Bienvenidos a nuestro Foro para Gamers!<br><br>
        En nuestro sitio web encontrarás todo lo que necesitas saber sobre los videojuegos más populares. Ofrecemos descripciones de cada juego,
        así como los precios actualizados para que puedas tomar la mejor decisión antes de tu compra.<br><br>
        Contamos con diversas categorías, como Acción, Aventura, Estrategia, Free to Play y Terror, para que puedas explorar los juegos según tus intereses.
        Además, pronto estaremos actualizando nuevas categorías para que tengas aún más opciones al momento de elegir.<br><br>
        También hemos creado una interfaz de votos para que puedas calificar cada juego del 1 al 5, permitiendo a la comunidad ver las opiniones generales
        sobre cada título. ¡Tu voto cuenta!<br><br>
        Al final de cada juego, encontrarás un espacio para comentar, donde podrás compartir tus experiencias, recomendaciones o dudas con otros usuarios.
        Creemos en la fuerza de la comunidad, y juntos podemos ayudar a otros jugadores a descubrir nuevos juegos y tomar decisiones informadas.
    </p>
</div>
{% endblock %}