{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerShop - Inicio de Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- CABECERA -->
    <div class="header-container">
        <div class="left-container">
            <div class="header-logo"><p id="logo-gamershop">Gamershop</p></div>
            <div class="categories"><a href="#">Categorías</a></div>
            <div class="registro"><a href="#">Registrarse</a></div>
            <div class="login"><a href="{% url 'login' %}">Ingresar</a></div>
        </div>
        <div class="right-header">
            <div class="header-search"><input type="text" placeholder="Buscar..."></div>
            <img id="logo-search" src="{% static 'css/icons8-search.svg' %}" alt="Icono de búsqueda">
        </div>
    </div>

    <!-- FORMULARIO DE LOGIN -->
    <div class="hero-body">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow-lg p-4">
                        <div id="login-container">
                            <h2>Inicio de Sesión</h2>

                            {% if form.errors %}
                                <div class="alert alert-danger">Usuario o contraseña inválidos</div>
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Ingresar" class="btn btn-primary">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PIE DE PÁGINA -->
    <div class="footer-container" id="inferiorcontainer">
        <p class="footer-text">Todos los derechos reservados © Gamershop 2025</p>
    </div>
</body>
</html>
